body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.card {
    border: 20px solid #888;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 600px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    background-color: #b296b6;
}

.card-content {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.instruction {
    margin-top: 10px;
    font-size: 18px;
    color: black;
    font-family: cursive, sans-serif
}

.github-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.github-icon {
    width: 40px;
    height: 40px;
}